/*
DESENVOLVIDO POR: Thales Cardoso
GITHUB: https://github.com/thalesacardoso
DATA: 27/09/2023
*/

 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

@font-face {
    font-family: 'NeueRegular';
    src: url(../fonts/NeueMachina-Regular.otf);
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    list-style: none;
    color: white;
}

html {
    font-size: 16px;
}

body {
    background-color: black;
    background-image: url(../img/degrade1.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'NeueRegular', sans-serif;
}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

h3,
h3 a {
    font-size: 1.0rem;
    font-weight: 600;
}

p,
li {
    font-size: 0.875rem;
    font-weight: 400;
    color: #FFF;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.content {
    width: 100%;
    max-width: 900px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 5;
}

.bgcolor {
    background-color: rgb(30, 133, 216);
}

.degrade-footer {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 2;
}

/*****************************************
            ESTILO DO HEADER
******************************************/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header .imagem img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

header .texto {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

header .texto h1 {
    text-align: center;
    margin-bottom: 1rem;
}

header .texto p img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}


/*****************************************
            ESTILO DO MAIN
******************************************/
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main section {
    border-radius: 1rem;
    padding: 1rem;
    transition: 0.5s;
}

main section .conteudo.oculto {
    display: none;
}

main section .titulo {
    border: 1px solid #FFF;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

main section .titulo:hover {
    background-color: rgb(30, 133, 216);
    border: 0;
    cursor: pointer;
}

main .titulo .seta {
    max-width: 1.5rem;
    max-height: 1.5rem;
    transition: 0.5s;
}

main .conteudo {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    transition: 0.5s;
}

/*****************   SKILLS   ******************/

#skills .hard-skill,
#skills .soft-skill {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#skills .hard-skill h3,
#skills .soft-skill h3 {
    width: 100%;
    margin-top: 1rem;
}

#skills .hard-skill div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

#skills .hard-skill div img {
    max-width: 3rem;
}

#skills .soft-skill ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#skills .soft-skill ul li {
    list-style: disc;
    list-style-position: inside;
}


/*****************   IDIOMAS   ******************/

#idiomas ul.idioma {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#idiomas ul.idioma li::before {
    content: url(../icones/icone-certo.png);
    padding-right: 0.5rem;
}

/*****************   EDUCAÇÃO   ******************/

#educacao .conquistas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#educacao .conquistas h3 {
    width: 100%;
}

#educacao .conquistas div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#educacao .conquistas div img {
    max-width: 4rem;
}

#educacao .cursos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#educacao .cursos a:hover {
    text-decoration: underline;
}

/*****************   PORTFÓLIO   ******************/

#portfolio .projetos {
    width: 100%;
}

#portfolio .projetos h3 a:hover {
    text-decoration: underline;
}

#portfolio .projetos h3::before {
    content: url(../icones/icone-github.png);
    padding-right: 0.5rem;
}

/*****************   EXPERIÊNCIAS   ******************/

section#experiencias {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#experiencias .experiencia {
    width: 100%;
}

#experiencias p.data::before {
    content: url(../icones/icone-calendario.png);
    padding-right: 0.5rem;
}


/*****************************************
            ESTILO DO RODAPÉ
******************************************/

footer {
    height: 100px;
    display: flex;
    justify-content: end;
}

footer img {
    max-width: 100px;
}


/*******************************
    VERSÃO P/ TABLET
*******************************/

@media screen and (min-width:450px) and (max-width: 799.99px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3,
    h3 a {
        font-size: 1.3rem;
        font-weight: 600;
    }

    p,
    li {
        font-size: 1rem;
    }

    #skills .hard-skill div img {
        max-width: 4rem;
    }

    #educacao .conquistas div img {
        max-width: 5rem;
    }

}


/*******************************
    VERSÃO P/ NOTEBOOK
*******************************/

@media screen and (min-width:800px) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3,
    h3 a {
        font-size: 1.5rem;
        font-weight: 600;
    }

    p,
    li {
        font-size: 1rem;
    }

    header {
        flex-direction: row;
        gap: 3rem;
    }

    header .imagem img {
        max-width: 17rem;
        max-height: 17rem;
    }

    header .texto {       
        width: 320px
    }

    header .texto h1 {
        text-align: left;
    }

    .skills .conteudo {
        flex-direction: row;
        align-items: start;
        gap: 4rem;
    }

    .skills .conteudo h3 {
        text-align: center;
    }

    #skills .hard-skill div img {
        max-width: 4.5rem;
    }

    #idiomas .conteudo ul.idioma {
        flex-direction: row;
        gap: 4rem;
    }

    #educacao .conquistas div img {
        max-width: 6rem;
    }

}