/*
DESENVOLVIDO POR: Thales Cardoso
GITHUB: https://github.com/thalesacardoso
DATA: 
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

@font-face {
    font-family: 'NeueRegular';
    src: url(../fonts/NeueMachina-Regular.otf);
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    list-style: none;
    color: white;
}

html {
    font-size: 16px;
}

body {
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'NeueRegular', sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.content {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 300px;
}

.bgcolor {
    background-color: #55569E;
}

/*****************************************
            ESTILO DO HEADER
******************************************/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header .imagem img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

header .texto {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

header .texto h1 {
    text-align: center;
    margin-bottom: 1rem;
}

header .texto p {
    font-size: 0.875rem;
}

header .texto p img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}


/*****************************************
            ESTILO DO MAIN
******************************************/
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main section {
    border-radius: 1rem;
    padding: 1rem;
}

main section .conteudo.oculto {
    display: none;
}

main section .titulo {
    border: 1px solid #FFF;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .titulo .seta {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

main .conteudo {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hard-skill,
.soft-skill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

main .hard-skill h3,
main .soft-skill h3 {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-weight: 600;
}

main .hard-skill img {
    max-width: 3rem;
}

main .soft-skill ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

main .soft-skill ul li {
    list-style: disc ;
    list-style-position: inside;
    font-size: 0.875rem;
}