/*
DESENVOLVIDO POR: Thales Cardoso
GITHUB: https://github.com/thalesacardoso
DATA: 
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    list-style: none; 
    color: #23272A; 
}

html {
    font-size: 16px;
    color: black;
}

body {
    background-color: lightblue;
}

h1 {
    font-size: 1.8rem;
    font-weight: 800;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: #555;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/*****************************************
            ESTILO DO HEADER
******************************************/



